*, body {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.content {
    display: flex;
    justify-content: center;
}

.calculator {
    height: 850px;
    width: fit-content;
    border-radius: 20px;
    border: 4px solid black;
    padding: 35px;
    background-color:rgb(46, 46, 46);
}

.screen {
    min-height: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(217, 217, 217);
}

.formula {
    font-size: 25px;
}

.result {
    font-size: 40px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
}

button, .info.data {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operand {
    background-color:  rgb(255, 182, 182);
}

.operator {
    background-color: rgb(176, 218, 255);
}

.functional {
    background-color: rgb(150, 253, 142);
}